body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    
}

.User {
    display: flex;
    min-height: 100vh;
    position: relative;
}

@media(max-width: 720px) {
    .User {
        display: block;
    }
}

.User aside {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    min-width: 250px;
    padding: 10px;    
    transition: width 0.3s;
    border-right: 2px solid silver;
}

@media(max-width: 720px) {
    .User aside {
        position: static;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        padding: 0;
    }
}

aside.Aside-full {
    width: 100%;
    padding: 0;
}

.User main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 272px;
    padding: 10px;    
}

@media(max-width: 720px) {
    .User main {
        margin-left: 0;
        padding: 0;
    }
}

.User-loading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.User-errorMessage {
    color: red;
}

.Search-searchbox {
    padding:8px 0;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    text-align: center;
    outline: none;
    box-shadow: none;
}

input[type=text]::-ms-clear {
    display: none;
}

.Search-submitButton,
.Followers-loadMore {
    padding:6px 15px;    
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    cursor: pointer;
    outline: none;
}   

.Search-submitButton {
    position:relative;
    left:-8px;

}

.Followers-loadMore {
    width: 200px;
    margin: 30px;
}

.Search-submitButton:hover,
.Followers-loadMore:hover {
    background-color:#2061ca;    
}

.Profile {
    max-width: 100%;    
}

.Profile-image {
    max-width: 250px;
    width: 100%;
    margin-top: 20px; 
}

.Followers {
    max-width: 100%;
}

.Followers-wrapper {
    display: flex;
    flex-flow: wrap; 
    justify-content: space-evenly;
}

.Follower {
    max-width: 20%;
    width: 20%;
    padding: 10px;
}

.Follower-image {
    max-width: 180px;
    width: 100%;
    box-shadow: 3px 3px 15px 0px #000;
}